### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Sass
.tmp
.sass-cache

#package lock
package-lock.json

# Compiled sources
builds

# Dependency directories
node_modules/

# Optional npm cache directory
.npm



