#services{

	padding-top: 0;

	article{
		text-align: center;
	}

	.services {
		padding: 100px 0;

		display: flex;
		align-items: center;
		justify-content: center;

		@include container (100%);
		@include pad(1,1);

		@include breakpoint($small){
			@include pad(7,1);
		}

		.content{
			border-radius:10px;
			background:rgba($white, .8);
			padding: 20px;

			h1{
				color: $red;
			}
		}
	}
	#service1{
		@include fullBackImage('../images/services/service1.jpg');
	}
	#service2{
		@include fullBackImage('../images/services/service2.jpg');
	}
	#service3{
		@include fullBackImage('../images/services/service3.jpg');
	}
	#service4{
		@include fullBackImage('../images/services/service4.jpg');
	}
}