<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Company</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <header id="intro">
    <article class="fullscreen">
      <div class="mainArrow">
        <h1>Welcome</h1>
        <a href="#welcome">
          <i class="fas fa-arrow-circle-down fa-2x"></i>
        </a>
      </div>
    </article>

    <nav id="nav">
      <div class="navbar">
        <div class="brand">
          <a href="#">The Company</a>
        </div>
        <ul>
          <li>
            <a class="icon aboutUs" href="#aboutUs">
              <i class="fas fa-users"></i>
              <span>About Us</span>
            </a>
          </li>
          <li>
            <a class="icon services" href="#services">
              <i class="fas fa-handshake"></i>
              <span>Services</span>
            </a>
          </li>
          <li>
            <a class="icon gallery" href="#gallery">
              <i class="fas fa-images"></i>
              <span>Gallery</span>
            </a>
          </li>
          <li>
            <a class="icon contact" href="#contact">
              <i class="fas fa-address-card"></i>
              <span>Contact</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main id="wrapper">
    <div class="page" id="welcome">
      <article class="content">
        <div class="gallery">
          <img src="images/welcome/welcome1.jpg">
          <img src="images/welcome/welcome2.jpg">
          <img src="images/welcome/welcome3.jpg">
          <img src="images/welcome/welcome4.jpg">
          <img class="hidesm" src="images/welcome/welcome5.jpg">
        </div>
      </article>
    </div>
    <div class="page" id="aboutUs">
      <article class="heading">
        <h1>About Us</h1>
      </article>
      <article>
        <section id="team">
          <p>LOREM IPSUM dolor sit amet, consectetur adipiscing elit. Suspendisse ut neque sed lectus bibendum molestie.</p>

          <h2>Header 2</h2>
          <p>
            Suspendisse iaculis, nibh nec lacinia sagittis, lectus mi eleifend augue, non posuere purus ligula id lorem. Etiam eleifend
            nisi ex, quis tristique erat cursus eu. Nunc cursus, nisi in consequat consequat, ligula nunc euismod eros, sodales
            accumsan nunc metus sed ex. Pellentesque eu auctor tortor. Maecenas interdum augue eget metus pretium tincidunt.
            Etiam cursus sapien ex, sit amet feugiat eros rhoncus facilisis.
          </p>
        </section>
        <section class="checklist">
          <h2>Header 3</h2>
          <p>Nullam in euismod elit. Pellentesque id nisi euismod, pellentesque odio malesuada, rhoncus tellus. Morbi elementum
            ipsum purus, eu pellentesque magna pharetra non:</p>
          <ul>
            <li> Morbi venenatis vel tortor vitae porta. Donec efficitur </li>
            <li>non quam quis vehicula. Nunc id diam nec purus tristique </li>
            <li>auctor sit amet nec felis. Proin tempus velit nisi, ut malesuada</li>
            <li> enim sollicitudin vel. Vestibulum in neque turpis. Suspendisse </li>
            <li>euismod nulla ut placerat auctor. Mauris augue eros, congue sit amet </li>
          </ul>
        </section>
        <section>
          <h2>Header 4</h2>
          <p>Etiam condimentum augue vitae nulla tristique, a aliquet nunc scelerisque. Proin ligula ante, condimentum et laoreet
            sed, mattis sit amet felis. Nam justo orci, congue vel velit et, vestibulum maximus justo. Nullam auctor felis
            eros, sed gravida justo vulputate in. Etiam lacus quam, sollicitudin sit amet ultricies eu, mollis eu diam.</p>
        </section>
      </article>

    </div>
    <div class="page" id="services">
      <article class="services fullscreen" id="service1">
        <section class="content">
          <h1>Service 1</h1>
          <p>Photo by Petr Sevcovic on Unsplash. Mauris sit amet elementum elit, eu varius tortor. Curabitur eget varius urna.
            Donec tincidunt congue magna non lobortis </p>
        </section>
      </article>
      <article class="services fullscreen" id="service2">
        <section class="content">
          <h1>Service 2</h1>
          <p>Photo by rawpixel on Unsplash. Phasellus quis ex et ante faucibus tincidunt id nec lacus. In scelerisque, mauris
            et elementum efficitur, mauris odio dignissim lorem, a egestas risus velit non ex</p>
        </section>
      </article>
      <article class="services fullscreen" id="service3">
        <section class="content">
          <h1>Service 3</h1>
          <p>Photo by Josh Calabrese on Unsplash. Morbi lobortis, purus ullamcorper fermentum maximus, nisi risus tempus mi,
            sed aliquet lacus tellus quis augue. Suspendisse at lectus ut sapien pulvinar vehicula.</p>
        </section>
      </article>
      <article class="services fullscreen" id="service4">
        <section class="content">
          <h1>Service 4</h1>
          <p>Photo by rawpixel on Unsplash. Ut quis metus fermentum, tempor nulla ac, condimentum orci. Morbi et accumsan quam,
            id interdum risus. Cras maximus condimentum felis et gravida.</p>
        </section>
      </article>

    </div>
    <div class="page" id="gallery">
      <article id="headerGallery">
        <h1>Gallery</h1>
      </article>
      <article id="gallery_items">
        <figure id="enterprise">
          <img src="images/gallery/gallery1.jpg">
          <figcaption>
            <p>Photo by Brooke Lark on Unsplash</p>
          </figcaption>
        </figure>

        <figure id="responsive">
          <img src="images/gallery/gallery2.jpg">
          <figcaption>
             <p>Photo by Farzad Nazifi on Unsplash</p>
          </figcaption>
        </figure>

        <figure id="apps">
          <img src="images/gallery/gallery3.jpg">
          <figcaption>
              <p>Photo by Vadim Sherbakov on Unsplash</p>
          </figcaption>
        </figure>

        <figure id="enterprise">
          <img src="images/gallery/gallery4.jpg">
          <figcaption>
              <p>Photo by Sean Pollock on Unsplash</p>
          </figcaption>
        </figure>

        <figure id="responsive">
          <img src="images/gallery/gallery5.jpg">
          <figcaption>
              <p>Photo by Breather on Unsplash</p>
          </figcaption>
        </figure>

        <figure id="apps">
          <img src="images/gallery/gallery6.jpg">
          <figcaption>
              <p>Photo by Nastuh Abootalebi on Unsplash</p>
          </figcaption>
        </figure>

      </article>
    </div>
    <div class="page fullscreen" id="contact">
        <form action="" method="post">

          <input type="text" class="frm-field frm-input" placeholder="Full Name">
          <input type="text" class="frm-field frm-input" placeholder="Phone">
          <input type="text" class="frm-field frm-input" placeholder="Email">
          <label>
            <select id="subject" class="frm-field frm-select" name="subject">
              <option value="info">Service Info</option>
              <option value="estimate">Request an estimate</option>
            </select>
          </label>

          <textarea name="message" class="frm-field frm-message" placeholder="Message"></textarea>

          <button type="submit" class="frm-send">Send</button>

        </form>
    </div>
  </main>
  <footer>
    <article class="content">
      <div id="socialmedia">
        <ul class="group">
          <li>
            <a href="https://twitter.com">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="http://www.facebook.com">
              <i class="fab fa-facebook-f fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </footer>
  <script src="scripts/script.js"></script>
</body>

</html>